@using Entidades;
@model DetalleVersion
@if (Session["usuario"] != null)
{
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" onclick="OcultarPanelNuevo()">&times;</button>
                <h4>Nuevo Presupuesto</h4>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-6">Código Material:</div>
                        <div class="col-sm-6" id="contCodMaterial">
                            <input class="form-control" id="codMaterial" type="text" name="codMaterial" placeholder="Ingrese un código">
                            <div class="list-group autocompletar" id="ListarMateriales" style="display:none">
                                <a href="#" class="list-group-item">
                                    <p class="list-group-item-text"> No se encuentra el material</p>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-2">Descripción:</div>
                        <div class="col-sm-10"><input disabled="disabled" class="form-control" type="text" name="desMaterial" id="desMaterial"></div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-6">Clase:</div>
                        <div class="col-sm-6"><input disabled="disabled" class="form-control" type="text" name="" value="" id="desClase"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">Precio Unit.</div>
                        <div class="col-sm-6" style="display: inline-flex;">S/. <input class="form-control solo-numero" type="text" name="" onkeyup="$('#totalsolic').val($('#cantidad').val() * $('#precioUnit').val())" value="" id="precioUnit"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">Unidad de Medida:</div>
                        <div class="col-sm-6"><input disabled="disabled" class="form-control" type="text" name="" value="" id="unidMedida"></div>
                    </div><br>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-6">Sub-Clase:</div>
                        <div class="col-sm-6"><input disabled="disabled" class="form-control" type="text" name="" value="" id="desSubClase"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6"> Cantidad:</div>
                        <div class="col-sm-6"><input class="form-control" type="text" name="" onkeypress="return NumCheck(event, this)" onkeyup="$('#totalsolic').val($('#cantidad').val() * $('#precioUnit').val())" value="" id="cantidad"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">Unidad Solicitada:</div>
                        <div class="col-sm-6"><input disabled="disabled" class="form-control" type="text" name="" value="" id="unidSolicitada"></div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-6">Criticidad:</div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="prioridad">
                                    @foreach (Prioridad prio in ViewBag.prioridades)
                                    {
                                        <option value="@prio.idPrioridad">@prio.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <input class="form-control solo-numero" type="hidden" name="" value="1" id="desCriticidad">
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">Total:</div>
                        <div class="col-sm-6 " style="display: inline-flex;">S/. <input disabled="disabled" class="form-control" type="text" name="" value="" id="totalsolic"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">Largo:</div>
                        <div class="col-sm-6"><input class="form-control" type="text" name="" value="" onkeypress="return NumCheck(event, this)" id="largo"> </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-4">
                        @*<div class="col-sm-6">Prioridad:</div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="prioridad">
                                    @foreach (Prioridad prio in ViewBag.prioridades)
                                    {
                                        <option value="@prio.idPrioridad">@prio.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>*@
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">Alto:</div>
                        <div class="col-sm-6"><input class="form-control" type="text" name="" value="" onkeypress="return NumCheck(event, this)" id="alto"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-6">Ancho:</div>
                        <div class="col-sm-6"><input class="form-control" type="text" name="" value="" onkeypress="return NumCheck(event, this)" id="ancho"></div>
                    </div>
                </div><br>
                @if (ViewBag.idTipodetPresup == 1)
                {
                <div class="row">
                    <div class="col-sm-8">
                        <div class="col-sm-3">Clasificacion:</div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <select class="form-control" id="idClasificacion">
                                    @foreach (Clasificacion prio in ViewBag.clasificaciones)
                                    {

                                        if (prio.hijos == null)
                                        {
                                            <option value="@prio.idLista">@prio.desLista</option>
                                        }
                                        else
                                        {
                                            <option disabled="disabled" value="0">@prio.desLista</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div><br>
                }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">Sustento:</div>
                        <div class="col-sm-10"><textarea class="form-control" rows="3" value="" id="desSustento"></textarea></div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-8" style="float:right;">
                        <input type="file" id="archivoSustento" class="btn btn-success btn-xs " />
                    </div>
                    <br>
                </div><br>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="col-sm-6">Mes solicitud:</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="selmesessoli" id="selmesessoli" onchange="cambioSelec()" /> Seleccionar todo
                                    </div>
                                </div>
                                <div class="row">
                                    @for (int a = 1; a <= 12; a++)
                                    {
                                        <div class="col-sm-4"><input type="checkbox" name="messoli" id="cbox@(a)" value="@(a)">@MesEntSoli.getMesCorto((MesEntSoli.Meses)a)</div>

                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-2">
                        <div class="col-sm-6">Mes Entrega:</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body" disabled="disabled">
                                @for (int a = 1; a <= 12; a++)
                                {
                                    <div class="col-sm-4"><input type="checkbox" name="mesent" id="cbox@(a)" value="@(a)">@MesEntSoli.getMesCorto((MesEntSoli.Meses)a)</div>

                                }
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="text-align: right;">
                            @if (((Usuario)Session["usuario"]).tieneAccesoA(Accesos.AgregarNuevoItem))
                            {
                                <input type="button" value="Guardar" class="btn btn-info" onclick="GuardarSustento()" />
                            }
                            <input type="button" value="Cancelar" onclick="OcultarPanelNuevo()" class="btn btn-danger" />

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else
{
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <center>
                    <h3>Su sesión ha expirado, ingrese nuevamente.</h3>
                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>

}


