@using Entidades;
@model Presupuesto
@if (Session["usuario"] != null)
{
    if (Model != null && !string.IsNullOrEmpty(Model.nombrePresupuesto))
    {
        <center><h3>Presupuestos por Área <a href="#" onclick="verTiposDisponibles(@Model.idPresupuesto)" data-toggle="tooltip" title="Visualice los reportes generales del presupuesto"> <span class="glyphicon glyphicon-resize-vertical"></span> </a></h3></center>
        <center><h4><strong>@Model.nombrePresupuesto</strong></h4></center>
        <div class="list-group" style="max-height:500px;overflow-y:scroll;">

            @if (Model.presupuestosArea != null)
            {
                foreach (PresupuestoArea presup in Model.presupuestosArea)
                {
                    
                        var todosAprobados = true;
                        var todosNoVerificados = true;
                        var todosDesaprobados = true;

                        foreach (var aprob in presup.aprobaciones)
                        {
                            if (aprob.estado != Aprobacion.estados.Aprobado)
                            {
                                todosAprobados = false;
                            }
                            if (aprob.estado != Aprobacion.estados.NoVerficiado)
                            {
                                todosNoVerificados = false;
                            }
                            if (aprob.estado != Aprobacion.estados.Desaprobado)
                            {
                                todosDesaprobados = false;
                            }
                        }

                        var estadoArea = "est-edicion";
                        if (todosAprobados) { estadoArea = "est-aprobado"; }
                        if (todosNoVerificados) { estadoArea = "est-edicion"; }
                        if (todosDesaprobados) { estadoArea = "est-desaprobado"; }

                    

                        <div href="#" class="list-group-item est-edicion">
                            <div class="row">

                                <div class="col-sm-12 excesodiv">
                                    <a href="/Presupuesto/PresupArea/@presup.area.codArea">
                                        <h4 class="list-group-item-heading">
                                            Presupuesto de <strong>@(presup.area.desArea) </strong>
                                        </h4>
                                    </a>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-3">Codigo:</div>
                                <div class="col-sm-3">@presup.area.codArea</div>
                                <div class="col-sm-3">Monto:</div>
                                @if (presup.monto > 0)
                            {
                                    <div class="col-sm-3">S/ @string.Format("{0:0.00}", presup.monto)</div>
                                }
                                else
                                {


                                    <div class="col-sm-3">S/ 0.00</div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-sm-3">Ultima Modif:</div>
                                <div class="col-sm-3">@presup.UltModifFec.ToShortDateString()</div>
                                <div class="col-sm-3">Desde:</div>
                                <div class="col-sm-3">@presup.fechaValIni.ToShortDateString()</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6"><a href="javascript:AprobacionesArea(@Model.idPresupuesto,@presup.area.codArea)">Aprobaciones</a></div>
                                <div class="col-sm-3">Hasta:</div>
                                <div class="col-sm-3">@presup.fechaValFin.ToShortDateString()</div>
                            </div>
                        </div>
                            }
                        }
                        else
                        {
                            <div class="list-group-item">
                                <div class="row">
                                    <center><h3>No se encontraron áreas disponibles</h3></center>
                                </div>

                            </div>

                        }

        </div>
                        }
                        else
                        {

                            <div class="row" style="height: 120px;"><center><h3>No se encontró datos del presupuesto </h3></center></div>
                            }
                        }
                        else
                        {
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <center>
                                            <h3>Su sesión ha expirado, ingrese nuevamente.</h3>
                                        </center>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-sm-6 contenido-derecha">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>

                                </div>
                            </div>

                        }