@using Entidades;
@model Sede

<div class="row">
    <br />
    <div class="col-sm-6 panel-principal">
        <h3>Presupuestos de Sede: <strong>@Model.desSede</strong></h3>
        @if (((Usuario)Session["usuario"]).tieneAccesoA(Accesos.CrearPresup))
        {
            <button type="button" class="btn btn-success btn-xs" onclick="MostrarCrearPresup(@Model.codSede)">Crear Presupuesto</button>
        }
        <br /><br />
        <div class="list-group">
            @foreach (var item in Model.presupuestos)
            {

                <div href="#" class="list-group-item @item.estadoActualString ">
                    <div class="row">
                        <div class="col-sm-6 excesodiv">
                            <a href="#" onclick="verAreasDisponibles(@item.idPresupuesto)"><h4 class="list-group-item-heading">@item.nombrePresupuesto</h4></a>
                        </div>
                        <div class="col-sm-2">
                            @if (((Usuario)Session["usuario"]).tieneAccesoA(Accesos.AprobarPresupuesto))
                            {
                                <button style="margin-left: 10px;" type="button" class="btn btn-warning btn-xs" onclick="AprobarPresupuesto(@item.idPresupuesto)">Aprobar</button>
                            }
                        </div>
                        <div class="col-sm-2">
                            @if (((Usuario)Session["usuario"]).tieneAccesoA(Accesos.DesAprobarPresupuesto))
                            {
                                <button style="margin-left: 10px;" type="button" class="btn btn-danger btn-xs" onclick="DesAprobarPresupuesto(@item.idPresupuesto)">DesAprobar</button>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"> Registro: </div>
                        <div class="col-sm-3" data-toggle="tooltip" title="Fecha en que se registró el presupuesto"> @item.fechaReg.ToShortDateString() </div>
                        <div class="col-sm-2"> Monto: </div>
                        @if (item.monto > 0)
                        {
                            <div class="col-sm-3" data-toggle="tooltip" title="Sumatoria total de todas las áreas">S/ @string.Format("{0:0.00}", item.monto) </div>
                        }
                        else
                        {
                            <div class="col-sm-3" data-toggle="tooltip" title="Sumatoria total de todas las áreas">S/ 0.00</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Ultima Modif:</div>
                        <div class="col-sm-3" data-toggle="tooltip" title="Fecha de la última modificación realizada dentro de los diferentes presupuestos" >@item.UltModifFec.ToShortDateString()</div>
                        <div class="col-sm-2">Desde:</div>
                        <div class="col-sm-4" data-toggle="tooltip" title="Fecha de inicio de validéz del presupuesto">@item.fechaValIni.ToShortDateString()</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Aprobado por:</div>
                        @if (((Usuario)Session["usuario"]).tieneAccesoA(Accesos.VerAprobacionesPresupuesto))
                        {
                            <div class="col-sm-3" data-toggle="tooltip" title="Usuarios que pueden aprobar el presupuesto final" ><a href="javascript:MostrarAprobacionesPresupuesto(@item.idPresupuesto)">Ver</a></div>
                        }
                        <div class="col-sm-2">Hasta:</div>
                        <div class="col-sm-4" data-toggle="tooltip" title="Fecha de fin de validéz del presupuesto" >@item.fechaValFin.ToShortDateString()</div>
                    </div>
                </div>
            }




        </div>

    </div>
    <div class="col-sm-6 panel-secundario" id="PresupPorArea">


    </div>


</div>
