@using Entidades;
@model Area

<div class="row">
    <br />
    <div class="col-sm-6 panel-principal">
        <h3>Presupuestos de Area: <strong>@Model.desArea</strong></h3>
        <script>

           var VAR_AREA_SEL=@Model.codArea ;

        </script>


        <div class="list-group">
            @foreach (var item in Model.presupuestos)
            {

                <div href="#" class="list-group-item @item.estadoActualString ">
                    <div class="row">
                        <div class="col-sm-6 excesodiv">
                            <a href="#" onclick="ListarTipos('@item.idPresupuesto');"><h4 class="list-group-item-heading">@item.nombrePresupuesto</h4></a>

                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Registro:</div>
                        <div class="col-sm-3">@item.fechaReg.ToShortDateString()</div>
                        <div class="col-sm-2">Monto:</div>
                        @if (item.monto > 0)
                        {
                            <div class="col-sm-3">S/ @string.Format("{0:0.00}", item.monto)</div>
                        }
                        else
                        {


                            <div class="col-sm-3">S/ 0.00</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Ultima Modif:</div>
                        <div class="col-sm-3">@item.UltModifFec.ToShortDateString()</div>
                        <div class="col-sm-2">Desde:</div>
                        <div class="col-sm-4">@item.fechaValIni.ToShortDateString()</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">Hasta:</div>
                        <div class="col-sm-4">@item.fechaValFin.ToShortDateString()</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1" id="TiposPresup_@item.idPresupuesto" style="display:none;">

                        </div>
                    </div>
                </div>





            }




        </div>

    </div>
    <div class="col-sm-6 panel-secundario" id="VersionesArea">


    </div>


</div>
